@keyframes fade-in {
    0% {
        opacity: 0;
        scale: 0%;
    }
    100% {
        opacity: 100;
        scale: 100%;
    }
}

:root {
    --forest-green: #0E320E;
    --linen: #F9EBE0;
    --cafe-au-lait: #A57548;
    --cafe-noir: #452914;
    --spanish-blue: #0070BB;
    --oxford-blue: #0E1C36;
    --scarlet: #E83D0E;
    --russian-violet: #3D2557;
    --smoky-black: #090302;
}

body {
    background-color: var(--forest-green);
    animation: fade-in 1s;
}

header {
    display: flex;
    justify-content: center;
}

header .title {
    margin: 1vw 15vw 0 15vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.title .front-matter {
    margin: 1vw;
}

header h1 {
    font-family: 'Bungee Inline', sans-serif;
    color: var(--linen);
    font-size: 6vw;
    margin: 0 1vw 0 1vw;
    padding: 0;
    border: 0;
}

header h2 {
    font-family: 'Secular One';
    font-size: 1.5vw;
    color: var(--linen);
    margin: 0;
    padding: 0;
    border: 0;
}

header h3 {
    font-family: 'Archivo', sans-serif;
    font-size: 1vw;
    color: var(--linen);
    margin: 0;
    padding: 0;
    border: 0;
}

.spanish-link {
    color: var(--spanish-blue);
    font-size: 1vw;
    font-family: "Archivo", sans-serif;
    transition: all 0.25s;
}

.spanish-link:hover {
    color: var(--oxford-blue);
}

#ukraine {
    text-align: right;
    margin: 0 0 0.5vw 0;
}

.tile {
    background-color: var(--linen);
    margin: 0 15vw 0 15vw;
    padding: 2.5vw 5vw 2.5vw 5vw;
}

.tile h2 {
    color: black;
    font-size: 1.5vw;
    font-family: 'Secular One', serif;
    margin: 0.5vw 0 0.5vw 0;
}

.tile h3 {
    color: var(--smoky-black);
    font-size: 1vw;
    font-family: "Secular One", serif;
}

.fire-data {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    align-items: center;
    justify-content: space-between;
}

.data-field {
    font-family: "Archivo", sans-serif;
    font-size: 1vw;
}

.data-field input {
    margin: 0.5vw 0 0.5vw 0;
    font-family: "Archivo", sans-serif;
    padding: 0.25vw;
    font-size: 0.75vw;
    width: 100%;
}

.data-field button {
    margin: 0.5vw 0 0.5vw 0;
    background-color: var(--cafe-au-lait);
    color: var(--linen);
    padding: 0.25vw;
    font-size: 1vw;
    font-family: "Archivo", sans-serif;
    border: none;
    width: 100%;
    transition: all 0.25s;
}

.data-field button:hover {
    background-color: var(--cafe-noir);
    cursor: pointer;
}

#map {
    height: 30vw;
    margin: 0 0 0.5vw 0;
}
